body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: rgb(2,0,36);
	background: linear-gradient(rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

#wrapper {
	display: inline-flex;
	min-width: 100%;
	min-height: 100%;
	position: relative;
	justify-content: center;
	align-items: center;
}

#left-container {
	height: 100vh;
	width: 15%;
	position: relative;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


#open-rules {
	display: flex;
	position: absolute;
	width: 10%;
	top: 0;
	left: 0;
	border-radius: 0px 0px 10px;
	justify-content: center;
	align-items: center;  
	background-color: rgba(108 4 177 / 84%);
	padding: 10px;
	color: white;
	box-shadow: 5px 5px 20px black;
	z-index: 2;
}

#bug-report {
	display: flex;
	position: absolute;
	width: 10%;
	top: 0;
	right: 0;
	border-radius: 0px 0px 0px 10px;
	justify-content: center;
	align-items: center;  
	background-color: gold;
	padding: 10px;
	color: white;
	box-shadow: 5px 5px 20px black;
	z-index: 2;
}

#open-rules:hover {
	background-color: rgba(171, 4, 177, 0.84);
	cursor: pointer;
	transition: transform 0.6s;
}

#rules-container {
	display: none;
	position: absolute;
	align-items: center;
    justify-content: center;
	background-color: rgba(108 4 177 / 84%);
	color: white;
	border: 5px solid gold;
	border-radius: 25px;
	z-index: 1;
	width: 70%;
	height: 75%;
	font-family: monospace;
	text-align: center;
	box-shadow: 5px 5px 10px black;
}
#rules{
	overflow-y: scroll;
	position: absolute;
    max-height: 85%;
    max-width: 95%;
	bottom: 5%;
}


#trick-cards-desc {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
    max-width: 95%;
}

.trick-card {
	display: flex;
	height: 100px;
	width: 100%;
	padding:10px;
}

.card-desc{
    width: fit-content;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

#close-rules {
	position: absolute;
	height: 25px;
	width: 25px;
	right: 25px;
	top: 25px;
}

#close-rules:hover{
	background-color: rgba(255, 0, 0, 0.5);
}

#sidebar {
	position: relative;
	width: 100%;
	flex-direction: column;
	color:  white;
	border-left-width: 0px;
	border-radius: 0px 30px 30px 0px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	box-shadow: 5px 5px 20px 0px black;
	max-height: 80vh;
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
	border: 1px solid rgba(255, 255, 255, 0.5);
}


.collapsible {
	background: rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.5);
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	outline: none;
	font-size: 15px;
	border-radius: 20px;
  }

  .settings {
	transition: height 0.2s ease-out;
	background: rgba(255, 255, 255, 0.2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
	height: 0px;
	border-radius: 10px;
}

.player-name-container, .player-names-container {
	border: 1px solid;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px 0px;
	padding: 10px;
}

#game-container {
	display: inline-flex;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}


#game-board {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	aspect-ratio: 1;
	max-height: 95vh;
	max-width: 95vh;
	background-color: green;
	position: relative;
	border-radius: 20%;
	border: 5px solid gold;
	margin: 0 100px 0 100px;
	box-shadow: 0px 5px 20px black;
}

#playpile-container {
	position: absolute;
	width: 33%;
	height: 33%;
	border: 5px solid gold;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#playpile-count{
	position: absolute;
    top: 0;
    padding: 12.5%;
}

#play-pile {
	position: absolute;
	max-height: 110px;
	max-width: 280px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#play-pile .card {
	position: absolute;
}


.player-container {
	position: absolute;
	width: 33%;
	height: 33%;
	border: 0px solid;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#playerbottom-container {
	bottom: 0;
}

#playerleft-container {
	left: 0;
}

#playertop-container {
	top: 0;
}

#playerright-container {
	right: 0;
}

.player-hand {
	display: flex;
	justify-content: center;
	position: relative;
	border-radius: 2px;
	background-color: red;
	width: 80%;
	height: 80%;
	border: 5px solid gold;
}

#playerleft-hand {
	transform: rotate(90deg);
}

#playertop-hand {
	transform: rotate(180deg);
}

#playerright-hand {
	transform: rotate(-90deg);
}

.face-down-cards {
	justify-content: center;
	display: flex;
	position: absolute;
	top: 5px;
	width: 95%;
	height: 40%;
}

.face-down-cards .card {
	transform: rotateY(180deg);
}

.face-up-cards {
	justify-content: center;
	display: flex;
	position: absolute;
	top: 15px;
	width: 95%;
	height: 40%;
}

.playable-cards {
	display: grid;
	padding: 10% 2.5% 0;
	margin-bottom: -2.5%;
	grid-template-columns: repeat(auto-fit, minmax(5px, 1fr));
	grid-auto-rows: calc(100%);
	position: absolute;
	align-items: center;
	justify-content: center;
	bottom: 10px;
	overflow-x: auto;
	overflow-y: hidden;
	width: 95%;
	height: 40%;
}


.card {
	border: 1px solid black;
	border-radius: 5px;
	margin: 5px;
	position: relative;
	transform-style: preserve-3d;
	width: 67px;
	height: 100px;
}

.joker-ranks {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	width:50%;
  }

.card-front {
	background-size: contain;
}

.card-back {
	background-image: url("images/cards/card_back.png");
	background-size: contain;
	transform: rotateY(180deg);
}

.card-back,
.card-front {
	width: 100%;
	height: 100%;
	background-size: cover;
	position: absolute;
	overflow: hidden;
	backface-visibility: hidden;
}

.rotated {
	transform: rotateZ(var(--angle));
}

.playable-cards .card:hover {
	transform: scale(115%) translateY(-7px);
	cursor: pointer;
	transition: transform 0.6s;
}

.face-up-cards .card:hover {
	transform: scale(115%) translateY(-7px);
	cursor: pointer;
	transition: transform 0.6s;
}

.face-down-cards .card:hover {
	transform: scale(115%) translateY(-7px) rotateY(180deg);
	cursor: pointer;
	transition: transform 0.6s;
}
.player-hand .card {
	height: 100%;
	transition: transform 0.6s;
}

.player-name {
	position: absolute;
	top: 0;
	height: 25px;
	font-family: monospace;
	font-size: 22px;
}

#deck-container {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 15%;
	height: 80vh;
	border: 1px solid gold;
	border-radius: 30px 0px 0px 30px;
	border-right-width: 0px;
	align-items: center;
	background-color: green;
	padding: 10px;
	box-shadow: -5px 5px 20px 0px black;
	justify-content: space-around;
}

#burn-pile {
	display: flex;
	position: relative;
	height: 40%;
	width: 90%;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

#burn-pile .card {
	position: absolute;
	width: 100px;
	height: 150px;
}

#draw-pile {
	display: flex;
	position: relative;
	height: 40%;
	width: 90%;
	justify-content: center;
	align-items: center;
	padding:20px;
}

#draw-pile .card {
	transform: rotateY(180deg);
	position: absolute;
	min-width: 100px;
	min-height: 150px;
}

#game-log-container {
	display: none;
	justify-content: flex-end;
	align-items: center;
	width: 30%;
	height: 30%;
	position: absolute;
	right: 0;
	top: 0;
	overflow-y: scroll;
	direction: rtl;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.5);
	color:  black;
    border-radius: 0px 65% 0px 0px;
}

#game-log {
    padding: 10px 5px;
	direction: ltr;
	text-align: left;
	font-family: monospace;
	display: block;
	width: 100%;
	height: auto;
}

#start-button {
	position: absolute;
	padding: 10px;
	border: 0px solid;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

#deal-button, #randomise-names-button {
	width: 80%;
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	background-color: #f0f0f0;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: transform 0.3s ease;
  }

  #deal-button{
	margin-top: 10px;
  }

  #deal-button:hover, #randomise-names-button:hover {
	animation: wiggle 0.8s;
	transform-origin: center;
  }


@keyframes pulsing-animation {
	0% {
	  box-shadow: 0 0 0 0px rgb(255, 255, 255);
	}
	100% {
	  box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
	}
  }

  @keyframes shrink {
	0% {
	  width: 80%;
	  height: 80%;;
	}
	15%{
		width: 100%;
		height: 100%;
	}
	100% {
	  width: 0%;
	  height: 0%;
	  border-width: 0px;
	}
  }

  @keyframes wiggle {
	0% {
	  transform: scaleX(1);
	}
	30% {
	  transform: scale3d(1.25, 0.75, 1);
	}
	40% {
	  transform: scale3d(0.75, 1.25, 1);
	}
	50% {
	  transform: scale3d(1.15, 0.85, 1);
	}
	65% {
	  transform: scale3d(0.95, 1.05, 1);
	}
	75% {
	  transform: scale3d(1.05, 0.95, 1);
	}
	to {
	  transform: scaleX(1);
	}
  }