html,body {
	background-image:url(images/wood.jpg);
	margin:0;
	padding:0;
	font-family:Poo;
}
	
#wrapper {
	align-items:center;
	aspect-ratio:9 / 16;
	display:inline-flex;
	flex-direction:column;
	height:100vh;
	justify-content:center;
	min-height:400px;
	min-width:100%;
	overflow:hidden;
	position:relative
}
	
#wrapper > .card {
	animation:fall 5s cubic-bezier(0,0,1,1);
	background-size:cover;
	min-width:5%;
	position:absolute;
	top:-100px;
	transform:translateX(-50%);
	z-index:0
}
	
#top-container {
	align-items:center;
	display:inline-flex;
	justify-content:center;
	max-height:10%;
	position:relative;
	top:0;
	width:100%;
	z-index:2
}
	
#logo-container {
	-webkit-backdrop-filter:blur(4.9px);
	align-items:center;
	backdrop-filter:blur(4.9px);
	background:rgba(255,255,255,0.2);
	border:1px solid rgba(255,255,255,0.5);
	border-radius:0 0 10px 10px;
	box-shadow:5px 5px 20px #000;
	color:#fff;
	display:flex;
	height:100%;
	justify-content:center;
	width:60%
}
	
#logo {
    width: -webkit-fill-available;
    aspect-ratio: 521/57;
    padding: 0px 10%;
}
	
#sound-toggle {
    border: none;
    left: 0;
    position: absolute;
    aspect-ratio: 1;
    height: 50%;
    background: none;
	background-size:cover;
	margin: 5px;
}

#sound-toggle.off{
	background-image:url(images/sound_off_up.png);
}

#sound-toggle.off:active {
	background-image:url(images/sound_off_down.png);
}

#sound-toggle.on{
	background-image:url(images/sound_on_up.png);
}

#sound-toggle.on:active {
	background-image:url(images/sound_on_down.png);
}

#page-container {
	align-items:center;
	aspect-ratio:9 / 16;
	display:inline-flex;
	height:100%;
	justify-content:center;
	min-height:400px;
	min-width:100%;
	overflow:hidden;
	position:relative
}
	
#left-container {
	align-items:center;
	display:inline-flex;
	flex-direction:column;
	height:100%;
	justify-content:center;
	max-width:25%;
	min-width:160px;
	position:relative;
	width:25%
}
	
#open-rules {
	-webkit-backdrop-filter:blur(4.9px);
	align-items:center;
	backdrop-filter:blur(4.9px);
	background:rgba(255,255,255,0.2);
	border:1px solid rgba(255,255,255,0.5);
	border-radius:0 0 10px;
	box-shadow:5px 5px 20px #000;
	color:#572714;
	display:flex;
	font-family:Poo;
	font-size:130%;
	height:100%;
	justify-content:center;
	left:0;
	position:absolute;
	text-align:center;
	text-shadow:-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
	top:0;
	width:10%;
	transition: background 0.2s ease, text-shadow 0.2s ease, color 0.2s ease;
}
	
#bug-report {
	-webkit-backdrop-filter:blur(4.9px);
	align-items:center;
	backdrop-filter:blur(4.9px);
	background:rgba(255,255,255,0.2);
	border:1px solid rgba(255,255,255,0.5);
	border-radius:0 0 0 10px;
	box-shadow:5px 5px 20px #000;
	color:#572714;
	display:flex;
	font-family:Poo;
	font-size:130%;
	height:100%;
	justify-content:center;
	position:absolute;
	right:0;
	text-align:center;
	text-shadow:-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
	top:0;
	width:10%;
	transition: background 0.2s ease, text-shadow 0.2s ease, color 0.2s ease;
}
	
#rules-container {
	-webkit-backdrop-filter:blur(4.9px);
	align-items:center;
	backdrop-filter:blur(4.9px);
	background:rgba(255,255,255,0.2);
	border:1px solid rgba(255,255,255,0.5);
	border-radius:25px;
	box-shadow:5px 5px 10px #000;
	display:flex;
	font-family:Poo;
	height:75%;
	justify-content:center;
	position:absolute;
	scale:0;
	text-align:center;
	transition:scale .6s;
	width:70%;
	z-index:4
}
	
#rules {
	background:rgba(255,255,255,0.2);
	border:1px solid rgba(255,255,255,0.5);
	bottom:5%;
	color:#fff;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	max-height:85%;
	max-width:95%;
	overflow-y:scroll;
	position:absolute
}
	
#trick-cards-desc {
	display:grid;
	grid-template-columns:1fr 1fr;
	grid-template-rows:1fr 1fr;
	max-width:95%
}
	
.trick-card {
	display:flex;
	height:100px;
	padding:10px;
	width:100%
}
	
.card-desc {
	align-content:center;
	display:flex;
	flex-wrap:wrap;
	width:fit-content
}
	
#close-rules {
	height:25px;
	position:absolute;
	right:25px;
	top:25px;
	width:25px;
	background-image:url(images/close_icon.png);
	background-size:contain;
}
	
#close-rules:hover {
	background-image:url(images/close_icon_hover.png);
	background-size:contain;
}
	
#sidebar {
	-webkit-backdrop-filter:blur(4.9px);
	align-items:center;
	backdrop-filter:blur(4.9px);
	background:rgba(255,255,255,0.2);
	border:1px solid rgba(255,255,255,0.5);
	border-left-width:0;
	border-radius:0 30px 30px 0;
	box-shadow:5px 5px 20px 0 #000;
	color:#fff;
	display:flex;
	flex-direction:column;
	justify-content:center;
	margin-left:20px;
	max-height:80vh;
	padding:10px;
	position:relative;
	text-align:center;
	width:100%;
	z-index:1
}
	
#settings-container {
	max-height:100%;
	max-width:100%;
	overflow-y:auto
}
	
.collapsible {
	background:rgba(0,0,0,0.2);
	border:1px solid rgba(255,255,255,0.5);
	border-radius:20px;
	color:#fff;
	cursor:pointer;
	font-family:Poo;
	font-size:15px;
	outline:none;
	padding:18px;
	text-align:left;
	text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
	width:100%;
	transition: background 0.2s ease, text-shadow 0.6s ease;
}
	
.collapsible:after {
	float: right;
	content: "▼";
}

.collapsible.active:after {
	content: "▲";
}
	
.collapsible.active {
	background:rgba(0,0,0,0.4);
}
	
.collapsible.active:hover {
	background:rgba(0,0,0,0.5)
}
	
.collapsible:hover {
	background:rgba(0,0,0,0.3)
}
	
.settings {
	align-items:center;
	background:rgba(255,255,255,0.2);
	border-radius:10px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	max-height:0;
	overflow-y:hidden;
	transition:height .2s ease-out;
	transition:max-height .8s ease-out
}

.checkbox-subtext{
    font-size: 80%;
    color: lightgray;
}
	
.player-name-input {
	max-width:50%
}
	
.name-clear-button,.random-name-button {
	aspect-ratio:1;
	background-color:#00000000;
	background-size:contain;
	border:0 solid;
	margin:5px
}
	
.name-clear-button {
	background-image:url(images/clear-name.png)
}
	
.random-name-button {
	background-image:url(images/random-name.png)
}
	
#playernames-container {
	width:100%
}
	
.player-name-container {
	align-items:center;
	border:1px solid;
	border-radius:5px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	margin:5px;
	padding:5px 0
}
	
#game-container {
	align-items:center;
	display:inline-flex;
	flex-direction:column;
	height:100%;
	justify-content:center;
	padding:5%;
	width:50%
}
	
#game-board {
	align-items:center;
	aspect-ratio:1;
	backface-visibility:hidden;
	background-image:url(images/green_felt.png);
	border:10px solid #ffd700;
	border-style: outset;
	border-radius:20%;
	box-shadow:0 5px 20px #000;
	display:flex;
	justify-content:center;
	margin:0 100px;
	max-height:80vh;
	max-width:80vh;
	min-height:300px;
	min-width:300px;
	position:relative;
	transform:scale(0);
	transition:transform .6s ease-out;
	width:100%;
	z-index:1
}
	
#playpile-container {
	align-items:center;
	background-image:url(images/felt.png);
	border:3px solid #ffd700;
	border-radius:5px;
	display:flex;
	height:33%;
	justify-content:center;
	position:absolute;
	width:33%
}
	
#playpile-count {
	color:#fff;
	height:10%;
	margin:10px;
	max-height:10%;
	position:absolute;
	text-align:center;
	top:0;
	width:100%
}
	
#play-pile {
	align-items:center;
	bottom:0;
	display:flex;
	height:90%;
	justify-content:center;
	position:absolute;
	width:100%
}
	
#play-pile .card {
	height:60%;
	position:absolute
}
	
.player-container {
	align-items:center;
	border:0 solid;
	border-radius:5px;
	display:flex;
	height:33%;
	justify-content:center;
	position:absolute;
	width:33%
}
	
#playerbottom-container {
	bottom:0
}
	
#playerleft-container {
	left:0
}
	
#playertop-container {
	top:0
}
	
#playerright-container {
	right:0
}
	
.player-hand-container {
	align-items:center;
	backface-visibility:hidden;
	background-image:url(images/felt.png);
	border:1px solid #ffd700;
	border-radius:2px;
	display:flex;
	flex-direction:column;
	height:80%;
	justify-content:center;
	position:absolute;
	transform-style:preserve-3d;
	transition:transform 1s;
	width:80%;
	z-index: 2;
}
	
.player-trophy {
	align-items:center;
	backface-visibility:hidden;
	background-size:cover;
	display:flex;
	flex-direction:column;
	height:100%;
	justify-content:center;
	position:absolute;
	transform:rotateY(180deg);
	width:100%
}
	
.player-hand {
	align-items:center;
	backface-visibility:hidden;
	border:1px solid #ffd700;
	display:flex;
	flex-direction:column;
	height:100%;
	justify-content:center;
	position:relative;
	width:100%
}
	
.player-hand .card {
	max-height:100%
}
	
#playerleft-hand {
	rotate:90deg
}
	
#playertop-hand {
	rotate:180deg
}
	
#playerright-hand {
	rotate:-90deg
}
	
.face-down-cards {
	display:flex;
	height:40%;
	justify-content:center;
	position:absolute;
	top:5px;
	width:95%
}
	
.face-down-cards .card {
	margin:0 3%;
	transform:rotateY(180deg)
}
	
.face-up-cards {
	display:flex;
	height:40%;
	justify-content:center;
	position:absolute;
	top:15px;
	width:95%
}
	
.face-up-cards .card {
	margin:0 3%
}
	
.playable-cards {
	align-items:center;
	bottom:10px;
	display:grid;
	grid-auto-rows:calc(100%);
	grid-template-columns:repeat(auto-fit,minmax(5px,1fr));
	height:40%;
	justify-content:center;
	margin-bottom:-2.5%;
	max-width:200%;
	padding:10% 2.5% 0;
	place-items:center;
	position:absolute;
	width:100%
}
	
.playable-cards .card {
	height:100%
}
	
.playable-cards > :last-child {
	grid-column-end:-1
}
	
.card {
	aspect-ratio:69 / 100;
	border:1px solid #000;
	border-radius:5px;
	position:relative;
	transform-style:preserve-3d;
	transition:transform .6s
}
	
.joker-ranks {
	backface-visibility:hidden;
	left:50%;
	position:absolute;
	top:50%;
	transform:translate(-50%,-50%);
	width:50%;
	z-index:3
}
	
.card-back {
	background-image:url(images/cards/card_back.png);
	transform:rotateY(180deg)
}
	
.card-back,.card-front {
	backface-visibility:hidden;
	background-size:cover;
	height:100%;
	position:absolute;
	width:100%;
    box-sizing: border-box;
}
	
.rotated {
	transform:rotateZ(var(--angle))
}
	
.playable-cards.bot .card {
	transform: rotateY(180deg);
  }
  
  .playable-cards.bot .card:hover {
	transform: scale(115%) translateY(-7px);
  }
  
  .face-down-cards .card:hover {
	cursor: pointer;
	transform: scale(115%) translateY(-7px) rotateY(180deg);
	transition: transform 0.6s;
  }
  
  .playable-cards .card:active:hover {
	transform: scale(105%) translateY(-7px);
  }
  
  .playable-cards .card:hover,
  .face-up-cards .card:hover {
	cursor: pointer;
	transform: scale(115%) translateY(-7px);
	transition: transform 0.6s;
  }  
	
.player-name {
	align-content:center;
	display:flex;
	flex-wrap:wrap;
	font-family:Poo;
	height:8%;
	position:absolute;
	text-align:center;
	top:1%
}
	
#deck-container {
	align-items:center;
	background-image:url(images/green_felt.png);
	border:1px solid #ffd700;
	border-radius:30px 0 0 30px;
	border-right-width:0;
	box-shadow:-5px 5px 20px 0 #000;
	display:flex;
	flex-direction:column;
	height:80vh;
	justify-content:space-around;
	max-height:80vh;
	min-width:160px;
	padding:10px;
	position:relative;
	right:0;
	text-align:center;
	transform:scaleY(0);
	transition:transform .5s ease-out;
	width:25%;
	z-index:1
}
	
#burn-pile .card {
	height:50%;
	max-height:50%;
	position:absolute
}
	
#draw-pile .card {
	height:50%;
	position:absolute;
	transform:rotateY(180deg)
}
	
#game-log-container {
	align-items:center;
	background-color:rgba(255,255,255,0.5);
	border:1px solid #000;
	border-radius:0 65% 0 0;
	color:#000;
	direction:rtl;
	display:none;
	height:30%;
	justify-content:flex-end;
	overflow-y:scroll;
	position:absolute;
	right:0;
	top:0;
	width:30%
}	

#player-turn {
	display: flex;
	align-items:center;
	color:#000;
	height:30%;
	justify-content:center;
	position:absolute;
	left:0;
	top:0;
	width:30%
}
	
#game-log {
	direction:ltr;
	display:block;
	font-family:Poo;
	height:auto;
	padding:10px 5px;
	text-align:left;
	width:100%
}
	
#start-button {
	align-items:center;
	animation:2s ease 0s infinite normal none running pulsing-animation;
	border:0 solid;
	border-radius:5px;
	border-radius:50%;
	display:flex;
	display:none;
	height:20%;
	justify-content:center;
	padding:10px;
	position:absolute;
	width:20%
}
	
#deal-button,#randomise-names-button {
	background-color:#f0f0f0;
	border:none;
	border-radius:5px;
	cursor:pointer;
	display:inline-block;
	font-size:16px;
	margin:5px;
	padding:10px 20px;
	transition:transform .3s ease;
	width:80%
}
	
#deal-button {
	margin-top:10px
}
	
#deal-button:hover,#randomise-names-button:hover {
	animation:wiggle .8s;
	transform-origin:center
}
	
#open-rules:hover,#bug-report:hover {
	background:rgba(0,0,0,0.3);
	color:#fff;
	cursor:pointer;
	text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
}	

#open-rules:not(:hover), #bug-report:not(:hover) {
	background:rgba(255,255,255,0.2);
	color:#572714;
	text-shadow:-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
}
	
#burn-pile,#draw-pile {
	align-items:center;
	aspect-ratio:1;
	background-image:url(images/felt.png);
	border:3px solid #ffd700;
	border-radius:5px;
	display:flex;
	justify-content:center;
	padding:20px;
	position:relative;
	width:65%
}
	
@keyframes pulsing-animation {
	0% {
	box-shadow:0 0 0 0 #fff
}
	
	100% {
	box-shadow:0 0 0 35px rgba(0,0,0,0)
}
}
	
@keyframes shrink {
	0% {
	height:80%;
	width:80%
}
	
	15% {
	height:100%;
	width:100%
}
	
	100% {
	border-width:0;
	height:0;
	width:0
}
}
	
@keyframes wiggle {
	30% {
	transform:scale3d(1.25,0.75,1)
}
	
	40% {
	transform:scale3d(0.75,1.25,1)
}
	
	50% {
	transform:scale3d(1.15,0.85,1)
}
	
	65% {
	transform:scale3d(0.95,1.05,1)
}
	
	75% {
	transform:scale3d(1.05,0.95,1)
}
	
	0%,to {
	transform:scaleX(1)
}
}
	
@keyframes fall {
	0% {
	transform:translateY(-100px) rotate(0deg)
}
	
	100% {
	transform:translateY(120vh) rotate(calc(360deg * var(--rotation-factor)))
}
}
	
@font-face {
	font-family:Poo;
	src:url(Chalkduster.ttf)
}