html, body {
	margin: 0;
	padding: 0;
	background-image: url("images/wood.jpg");
	/*background: linear-gradient(rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);*/
}

#wrapper {
	aspect-ratio: 9 / 16;
	display: inline-flex;
	min-width: 100%;
	min-height: 400px;
	height: 100vh;
	position: relative;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	flex-direction: column;
}

#wrapper > .card
  {
	position: absolute;
	top: -100px;
	transform: translateX(-50%);
	background-size: cover;
	animation: fall 5s cubic-bezier(0, 0, 1, 1);
	z-index: 0;
	min-width: 5%;
}

#top-container{
	width: 100%;
	display: inline-flex;
	position: relative;
	max-height: 10%;
	top: 0;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

#logo-container{
	display: flex;
	justify-content: center;
	height: 100%;
	width: 60%;
    border-radius: 0px 0px 10px 10px;
	align-items: center;  
	color:  white;
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
	border: 1px solid rgba(255, 255, 255, 0.5);
	box-shadow: 5px 5px 20px black;
}

#logo{
	width: 70%;
	max-width: 70%;
}

#page-container {
	aspect-ratio: 9 / 16;
	display: inline-flex;
	min-width: 100%;
	min-height: 400px;
	height: 100%;
	position: relative;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

#left-container {
	height: 100%;
	min-width: 160px;
	max-width: 25%;
	width: 25%;
	position: relative;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#open-rules {
	color:  rgb(87, 39, 20);
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
	text-align: center;
	font-family: Poo;
    font-size: 130%;
	display: flex;
	position: absolute;
	width: 10%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 0px 0px 10px;
	justify-content: center;
	align-items: center;  
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
	border: 1px solid rgba(255, 255, 255, 0.5);
	box-shadow: 5px 5px 20px black;
}

#bug-report {
	text-align: center;
	font-size: 130%;
	font-family: Poo;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
	display: flex;
	position: absolute;
	width: 10%;
	height: 100%;
	top: 0;
	right: 0;
	border-radius: 0px 0px 0px 10px;
	justify-content: center;
	align-items: center;  
	color:  rgb(87, 39, 20);
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
	border: 1px solid rgba(255, 255, 255, 0.5);
	box-shadow: 5px 5px 20px black;
}

#open-rules:hover {
	background: rgba(0, 0, 0, 0.3);
	cursor: pointer;
	transition: transform 0.6s;
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#bug-report:hover {
	background: rgba(0, 0, 0, 0.3);
	cursor: pointer;
	transition: transform 0.6s;
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#rules-container {
	scale: 0;
	display: flex;
	transition: scale 0.6s;
	position: absolute;
	align-items: center;
    justify-content: center;
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 25px;
	z-index: 4;
	width: 70%;
	height: 75%;
	font-family: Poo;
	text-align: center;
	box-shadow: 5px 5px 10px black;
}
#rules{
	color: white;
	overflow-y: scroll;
	position: absolute;
    max-height: 85%;
    max-width: 95%;
	bottom: 5%;
	background: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.5);
}


#trick-cards-desc {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
    max-width: 95%;
}

.trick-card {
	display: flex;
	height: 100px;
	width: 100%;
	padding:10px;
}

.card-desc{
    width: fit-content;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

#close-rules {
	position: absolute;
	height: 25px;
	width: 25px;
	right: 25px;
	top: 25px;
}

#close-rules:hover{
	background-color: rgba(255, 0, 0, 0.5);
}

#sidebar {
	position: relative;
	padding: 10px;
	flex-direction: column;
	color:  white;
	border-left-width: 0px;
	border-radius: 0px 30px 30px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	box-shadow: 5px 5px 20px 0px black;
	max-height: 80vh;
	width: 100%;
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
	border: 1px solid rgba(255, 255, 255, 0.5);
	z-index: 1;
}

#settings-container{
    max-height: 100%;
	max-width: 100%;
    overflow-y: auto;
}

.collapsible {
	background: rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.5);
	color:  white;
	cursor: pointer;
	padding: 18px;
	text-align: left;
	font-family: Poo;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	outline: none;
	font-size: 15px;
	border-radius: 20px;
	width: 100%;
  }

  .collapsible.active:hover {
	background: rgba(0, 0, 0, 0.5);
  }

  .collapsible:hover {
	background: rgba(0, 0, 0, 0.3);
  }

  .settings {
	transition: height 0.2s ease-out;
	background: rgba(255, 255, 255, 0.2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow-y: hidden;
	height: 0px;
	max-height: 0px;
	border-radius: 10px;
}

.player-name-container, .player-names-container {
	border: 1px solid;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px 0px;
	padding: 10px;
}

#game-container {
	display: inline-flex;
	height: 100%;
	width: 50%;
	padding: 5%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}


#game-board {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	aspect-ratio: 1;
	min-height: 300px;
	min-width: 300px;
	max-height: 80vh;
	max-width: 80vh;
	background-image: url("images/green_felt.png");
	position: relative;
	border-radius: 20%;
	border: 5px solid gold;
	margin: 0 100px 0 100px;
	box-shadow: 0px 5px 20px black;
	z-index: 1;
	backface-visibility: hidden;
	transform: scale(0);
	transition: transform 0.6s ease-out;
}

#playpile-container {
	position: absolute;
	width: 33%;
	height: 33%;
	border: 3px solid gold;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#playpile-count{
	text-align: center;
	position: absolute;
    top: 0;
    margin: 10px;
	max-height: 10%;
	height: 10%;
	width: 100%;
}

#play-pile {
	position: absolute;
	bottom: 0;
	height: 90%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#play-pile .card {
	position: absolute;
	height: 60%;
}


.player-container {
	position: absolute;
	width: 33%;
	height: 33%;
	border: 0px solid;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#playerbottom-container {
	bottom: 0;
}

#playerleft-container {
	left: 0;
}

#playertop-container {
	top: 0;
}

#playerright-container {
	right: 0;
}

.player-hand {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border-radius: 2px;
	background-image: url("images/felt.png");
	width: 80%;
	height: 80%;
	border: 1px solid gold;
	flex-direction: column;
}
.player-hand .card {
	max-height: 100%;
}

#playerleft-hand {
	transform: rotate(90deg);
}

#playertop-hand {
	transform: rotate(180deg);
}

#playerright-hand {
	transform: rotate(-90deg);
}

.face-down-cards {
	justify-content: center;
	display: flex;
	position: absolute;
	top: 5px;
	width: 95%;
	height: 40%;
}

.face-down-cards .card {
	transform: rotateY(180deg);
    margin: 0px 3%;
}

.face-up-cards {
	justify-content: center;
	display: flex;
	position: absolute;
	width: 95%;
	height: 40%;
	top: 15px;
}

.face-up-cards .card{
    margin: 0px 3%;
}

.playable-cards {
	display: grid;
	padding: 10% 2.5% 0;
	margin-bottom: -2.5%;
	grid-template-columns: repeat(auto-fit, minmax(5px, 1fr));
	grid-auto-rows: calc(100%);
	position: absolute;
	align-items: center;
	justify-content: center;
	place-items: center;
	max-width: 200%;
	width: 100%;
	height: 40%;
	bottom: 10px;
}

.playable-cards .card{
	height: 100%;
}

.playable-cards > :last-child {
	grid-column-end: -1;
}

.card {
	border: 1px solid black;
	border-radius: 5px;
	position: relative;
	transform-style: preserve-3d;
	aspect-ratio: 69 / 100;
	transition: transform 0.6s;
}

.joker-ranks {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	width:50%;
	backface-visibility: hidden;
  }

.card-front {
	background-size: contain;
}

.card-back {
	background-image: url("images/cards/card_back.png");
	background-size: contain;
	transform: rotateY(180deg);
}

.card-back,
.card-front {
	width: 100%;
	height: 100%;
	background-size: cover;
	position: absolute;
	backface-visibility: hidden;
}

.rotated {
	transform: rotateZ(var(--angle));
}

.playable-cards.bot .card{
	transform: rotateY(180deg);
}

.playable-cards.bot .card:hover{	
	transform: scale(115%) translateY(-7px);
}

.playable-cards .card:hover {
	transform: scale(115%) translateY(-7px);
	cursor: pointer;
	transition: transform 0.6s;
}

.face-up-cards .card:hover {
	transform: scale(115%) translateY(-7px);
	cursor: pointer;
	transition: transform 0.6s;
}

.face-down-cards .card:hover {
	transform: scale(115%) translateY(-7px) rotateY(180deg);
	cursor: pointer;
	transition: transform 0.6s;
}

.player-name {
    position: absolute;
    text-align: center;
    height: 8%;
    display: flex;
    align-content: center;
    top: 1%;
    font-family: Poo;
    flex-wrap: wrap;
}

#deck-container {
	transition: transform 0.5s ease-out;
	text-align: center;
	transform: scaleY(0);
	position: relative;
	right: 0;
	display: flex;
	flex-direction: column;
	min-width: 160px;
	width: 25%;
	height: 80vh;
	max-height: 80vh;
	border: 1px solid gold;
	border-radius: 30px 0px 0px 30px;
	border-right-width: 0px;
	align-items: center;
	background-image: url("images/green_felt.png");
	padding: 10px;
	box-shadow: -5px 5px 20px 0px black;
	justify-content: space-around;
	z-index: 1;
}

#burn-pile {
	display: flex;
	position: relative;
	height: 40%;
	width: 90%;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

#burn-pile .card {
	position: absolute;
	height: 50%;
	max-height: 50%;
}

#draw-pile {
	display: flex;
	position: relative;
	height: 40%;
	width: 90%;
	justify-content: center;
	align-items: center;
	padding:20px;
}

#draw-pile .card {
	transform: rotateY(180deg);
	position: absolute;
	height: 50%;
}

#game-log-container {
	display: none;
	justify-content: flex-end;
	align-items: center;
	width: 30%;
	height: 30%;
	position: absolute;
	right: 0;
	top: 0;
	overflow-y: scroll;
	direction: rtl;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.5);
	color:  black;
    border-radius: 0px 65% 0px 0px;
}

#game-log {
    padding: 10px 5px;
	direction: ltr;
	text-align: left;
	font-family: Poo;
	display: block;
	width: 100%;
	height: auto;
}

#start-button {
	position: absolute;
	padding: 10px;
	border: 0px solid;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

#deal-button, #randomise-names-button {
	width: 80%;
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	background-color: #f0f0f0;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: transform 0.3s ease;
  }

  #deal-button{
	margin-top: 10px;
  }

  #deal-button:hover, #randomise-names-button:hover {
	animation: wiggle 0.8s;
	transform-origin: center;
  }


@keyframes pulsing-animation {
	0% {
	  box-shadow: 0 0 0 0px rgb(255, 255, 255);
	}
	100% {
	  box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
	}
  }

  @keyframes shrink {
	0% {
	  width: 80%;
	  height: 80%;;
	}
	15%{
		width: 100%;
		height: 100%;
	}
	100% {
	  width: 0%;
	  height: 0%;
	  border-width: 0px;
	}
  }

  @keyframes wiggle {
	0% {
	  transform: scaleX(1);
	}
	30% {
	  transform: scale3d(1.25, 0.75, 1);
	}
	40% {
	  transform: scale3d(0.75, 1.25, 1);
	}
	50% {
	  transform: scale3d(1.15, 0.85, 1);
	}
	65% {
	  transform: scale3d(0.95, 1.05, 1);
	}
	75% {
	  transform: scale3d(1.05, 0.95, 1);
	}
	to {
	  transform: scaleX(1);
	}
  }

  @keyframes fall {
	0% {
	  transform: translateY(-100px) rotate(0deg);
	}
	100% {
	  transform: translateY(120vh) rotate(calc(360deg * var(--rotation-factor)));
	}
  }

  @font-face {
	font-family: Poo;
	src: url(Chalkduster.ttf);
  }
  
  